body {
  top: 0;
  margin: 0;
  color: rgb(45, 53, 53);
  background-color: antiquewhite;
}
main {
  padding-top: 70px;
}
nav {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgb(226, 195, 155);
}

article {
  /* si quiero que aplique a uno solo */
  p,
  a {
    color: rgb(88, 171, 234);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  p {
    font-size: 1.2rem;
    /*? estilos para párrafos dentro de article */
  }
  a {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    /* rem es reposponsivo segun el tamaño de la pantalla
     /*? estilos para enlaces dentro de article */
  }
}

a {
  text-decoration: double;
  color: rgb(7, 117, 39);
  /**Transición */
  font-weight: bold;
  transition: transform 0.4 ease transform 0.4s ease-in-out;
  display: inline-block;
}
/**Transición */
a:hover {
  transform: scale(1.1);
  color: black;
  font-weight: bold;
}
.a1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
#afooter {
  margin-inline: 30px;
}

#ul1 {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

h1 {
  color: rgb(65, 65, 167);
}

h3 {
  /**La animación empieza lenta, acelera en medio, y termina lenta. */
  transition: transform 0.5s ease-in-out;
}

h3:hover {
  transform: rotate3d(1, 1, 1, 10deg) scale(1.1);
}
/* #learnig {
  color: brown;
  text-align: center;
} */
/*? Para algunos etiquetas que repiten podemo colocar class */
/* llamos a la clases */

img {
  width: 200px;
  height: 200px;
  /*! object-fit: cover; Este atributo puede cortar la imagen para que no se deforme*/
  object-fit: cover;
}

/*todo Seleccionamos nuestro div que esta cerca de la iamgenes*/
#modelo {
  display: flex;
  /*Se a como da forma vertical */
  flex-wrap: wrap;
  /*Los elementos se colocan horizontalmente, de izquierda a derecha.*/
  flex-direction: row;
  background-color: rgb(58, 105, 105);
  /*Es el espacio entre elementos*/
  gap: 10px;
  justify-content: center;
  /*centrar los elementos horizontalmente dentro del contenedor.*/
  align-content: center;
  /* centrar las líneas de elementos verticalmente cuando hay múltiples filas. */
  width: 90%;
  padding: 20px;
  /*? estilos para la imagen dentro de figure dentro de un div */
  figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: rgb(55, 50, 205);
    /** podemos colocar estilo en nuestro figure */
    img {
      margin: 10px;
      padding: 10px;
      border: black 2px solid;
      border-radius: 25px;
      /* width: 50px;
      height: auto; */
    }
  }
}

#home {
  /*? Un forma poderosa y precisa de organizar elementos en filas y columnas. */
  display: grid;

  grid-template-columns: 4fr 4fr;
  /* 4fr sirve para definir el espacio */
  grid-template-rows: 4fr 4fr;

  #home1 {
    /* Singifica que este div esta era ubicado en 
  columna 1 y la fila 2 */
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 10px;
    margin: 20px;
  }
  #home2 {
    grid-column: 2/2;
    grid-row: 4/2;
  }
  #home1,
  #home2 {
    display: flex;
    background-color: white;
    padding: 20px;
    justify-content: center;
    align-content: center;
    box-shadow: 2px 2px 5px black;
  }
  .divhome {
    font-family: "Courier New", Courier, monospace;
  }

  .item1,
  .item2,
  .item3 {
    transition: background-color 0.6s ease, transform 0.6s ease-in-out;
  }
  .item1:hover,
  .item2:hover,
  .item3:hover {
    font-weight: bold;
  }
  .item1:hover {
    color: green;
    transform: translateX(20px);
  }
  .item2:hover {
    color: blue;
    transform: translateX(-20px);
  }
  .item3:hover {
    color: red;
    transform: translateY(20px);
  }
}

footer {
  background-color: rgb(228, 223, 150);
  border: solid rgb(122, 122, 226) 2px;
  border-radius: 20px;
  padding: 50px;

  h2 {
    transition: transform 0.4s ease-in-out;
  }
  h2:hover {
    transform: scale(1.1);
  }
  /*
  .inpust{
  margin:15px;
  heigth:30px
  wigth:80%  
  }
  */

  .inputs {
    margin: 15px;
    height: 30px;
    width: 80%;
  }

  .inputs:hover {
    border: black 5px solid;
    /*? Efecto 3D */
    box-shadow: 2px 2px 5px black, inset -2px -2px 5px blue;
  }
  /* Llamos a al id del boton submi*/
  #inputsbutton {
    margin: 15px;
    height: 30px;

    background-color: rgb(122, 122, 226);
    cursor: pointer;
    width: 80%;
  }

  #inputsbutton:hover{
        box-shadow: 2px 2px 5px black, inset -2px -2px 5px blue;
        transform: scale(1.05);
        filter: brightness(1.2);
  }
  a{
    float: right;
  }
}
