body {
  background-color: rgb(167, 165, 163);
  margin: 0;
  font-weight:400;
}

#lisnav {
  top: 0;
  width: 100%;
  height: 60px;
  /* position: sticky; */
  position: sticky;
  /*todo este asegura que este por encima de otro elemento */
  z-index: 1000; 
}
#ul1 {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
a{
  text-decoration: none;
  color: rgb(105, 98, 35);
  font-weight: bold;
}
.a1 {
  border: 0.2rem solid black;
  border-radius: 10px;
  padding: 10px 30px;
}

h1{
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  padding: 30px;
}

#h1Name {
  background-color: aliceblue;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

#fieldset1{
     border: none;
}
.inputC {
  height: 30px;
  width: 50%;
  margin: 10px;
  background-color: rgb(221, 214, 88);
}
#picture{
  display: flex;
  figure{
    img{
      width: 50px;
      height: 50px;
      /* object-fit: cover; */
      margin: 10px;
      padding: 10px;
      border: black 2px solid;
      border-radius: 25px;
    }
  }
}

#buttonC{
height: 40px; width: 150px; margin: 10px;
background-color: rgb(109, 37, 37);
color: white;
}
#formulario{
  color:rgb(220, 220, 220);
  font-weight: bold;
  
}
footer {
  background-color: rgb(58, 80, 49);
  border: solid rgb(122, 122, 226) 2px;
  border-radius: 20px;
  padding-left: 20px;
}