body {
  background-color: rgb(167, 165, 163);
  margin: 0;
  font-weight: 400;
  top: 0;
}

#lisnav {
  top: 0;
  width: 100%;
  height: 60px;
  /* position: sticky; */
  position: sticky;
  /*todo este asegura que este por encima de otro elemento */
  z-index: 1000;
}
#ul1 {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .a1 {
  border: 0.2rem solid black;
  border-radius: 10px;
  padding: 10px 30px;
  }

  .t1,.t2,.t3{
    transition: ease-in-out 0.3s;
  }
  .t1:hover, .t2:hover, .t3:hover {
    color: rgb(46, 103, 147);
    font-weight: bold;
    transform: scale(1.1);
    padding: 20px 40px;
  }
}

a {
  text-decoration: none;
  color: rgb(105, 98, 35);
  font-weight: bold;
}

.e2, .e1{
  transition: -5 ease-out;
  margin: 15px;
}

.e2:hover{
  transform: translateY(10px);
  color: blanchedalmond;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.e1:hover{
  font-size: 50px;
}

#h1Inicio{
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
  padding: 30px;
}
.h2grup{
  padding: 20px;
  margin: 10px;
  transition: 1.1s ease-out;
}
.g1:hover,.g2:hover,.g3:hover,.g4:hover{
  transform: translateX(20px);
}
.g1:hover{
  color: green;
}
.g2:hover{
  color: blue;
}
.g3:hover{
  color: red;
}
.g4:hover{
  color: purple;
  transform: translate(20px, 20px);
}
#h2Name {
  background-color: aliceblue;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  transition: 1.2s ease-out;
}

#h2Name:hover{
  color: red;
  font-size: 30px;
  transform: scale(1.2);
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: blue;
  text-decoration: solid;
  margin: 15px;
}

#fieldset1 {
  border: none;
}
.inputC {
  height: 30px;
  width: 50%;
  margin: 10px;
  background-color: rgb(221, 214, 88);
  transition: ease-out 0.1s;
}
.inputC:hover{
  background-color: white;
  transform: translateX(5px);
}
#picture {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-content: center;

  padding: 20px;
  border-radius: 15px;
  gap: 50px;
  row-gap: 10px;

  background-color: rgb(159, 137, 104);
  width: 90%;
  padding: 20px;

  figure {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;

    /*? Efecto al pasar el mouse */
    img {
      width: 50px;
      height: 50px;
      /* object-fit: cover; */
      background-color: rgb(187, 195, 240);
      margin: 10px;
      padding: 10px;
      border: black 2px solid;
      border-radius: 25px;
      /* da un sombra */
      box-shadow: 0 0px 20px 20px rgba(38, 41, 223, 0.2);
      /* /*? box-shadow: offset-x offset-y blur-radius spread-radius color; */
      transition: 0.3s ease-in-out; 
    }
    img:hover{
      transform: scale(1.1);
      box-shadow:0 0px 40px 40px rgba(38, 41, 223, 0.2); ;
      cursor: grab;
    }
    .imgtext{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      transition: 1s ease;
    }

    .imgtext:hover{
      color :blue;
      font-weight: bold;
      transform: translate(10px, 5px);
  }
}
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre imagen y texto */
}

.perfil img {
  flex-shrink: 0; /* evita que la imagen se achique */
  border-radius: 50%; /* si quieres estilo avatar */
}
p{
  text-align: justify;
}
#batman{
  width: 90px;
  height: 90px;
  vertical-align: middle;
  transition: .1s ease-in-out;
}

#batman:hover{
  transform:scale(1.5)
}

#buttonC {
  height: 40px;
  width: 150px;
  margin: 10px;
  background-color: rgb(109, 37, 37);
  color: white;
  transition: 1.2 ease;
}

#buttonC:hover{

  border: salid 2px black;
  box-shadow: 2px 2px 5px black;
}
#formulario {
  color: rgb(220, 220, 220);
  font-weight: bold;
  font-size: 25px;
}

#div1 {
  display: grid;
  grid-template-columns: repeat(3, 4fr); /* 2 columnas iguales */
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;

  #div2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  #div3 {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  #div4{
    grid-column:1/2;
    grid-row:2/4;
  }
  #div5{
    grid-column: 2/3;
    grid-row: 2/4;
  }
  #div6{
    grid-column: 2/3;
    grid-row:3/5 ;
  }
  #div7{
    grid-column: 3/4;
    grid-row:3/5 ;
    
  }
  .divText{
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify ;
    transition: -1s ease;
  }
  .ex1:hover{
    transform: scale(1.1);
    background-color: rgb(221, 214, 88);
  }
  .ex2:hover{
    transform: scale(1.1);
    background-color: rgb(128, 221, 88);
  }
  .ex3:hover{
    transform: scale(1.1);
    background-color: rgb(88, 221, 146);
  }
  .ex4:hover{
    transform: scale(1.1);
    background-color: rgb(49, 88, 231);
  }
  .ex5:hover{
    transform: scale(1.1);
    background-color: rgb(49, 176, 231);
  }
  .ex6:hover{
    transform: scale(1.1);
    background-color: rgb(226, 27, 166);
  }

  .ejerc{
    transition: -10s ease-in;
  }

  .ej1:hover,.ej2:hover,.ej3:hover,.ej4:hover,.ej5:hover,.ej6:hover,.ej7:hover{
    transform: rotate(10deg);
  }
    
}

footer {
  background-color: rgb(58, 80, 49);
  border: solid rgb(122, 122, 226) 2px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 15px;
}